<div class="mydiv">
	<div class="container">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-lg-6 m-5 p-4 listBox">
				<div class="row">
					<div class="input-group mb-3">
						<input type="text" class="form-control inputText" [(ngModel)]="textValue"
							placeholder="Add a new task">
						<div class="input-group-append">
							<button type="button" class="btn btn_background" [disabled]="!textValue.length"
								(click)="addTask()">ADD TASK</button>
						</div>
					</div>
				</div>
				<hr>
				<div class="row" *ngFor="let task of allTask">
					<app-list [task]="task" (taskDoneEvent)="setStatus($event)"></app-list>
					<hr>
				</div>
				<div class="row mt-3" *ngIf="allTask.length == 0"> <span class="small">All tasks have been completed.</span>
				</div>
				<div class="row mt-3">
					<div>
						<button type="button" class="btn btn_background" (click)="clearList()">CLEAR COMPLETED TASKS</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>